@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.footer {
  background-color: #eeeeee;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
}

/*--- zona central ---*/

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/*----logo----*/
img {
  width: 600px;
  max-width: 80%;
}

/*----input---*/

.input {
  display: flex;
  justify-content: center;
  width: 100%;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  max-width: 90%;
}

/*---- botones ----*/
.buttons {
  display: flex;
  gap: 12px;
}

button {
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}